* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #040714;
  color: #f9f9f9;
  font-family: Avenir-Roman, sans-serif;
}
/* 
.dropDown {
  opacity: 0;
  visibility: hidden;
}
.userImage:hover .dropDown {
  opacity: 1;
  visibility: visible;
} */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (min-width: 479px) {
  body {
    font-size: 14px;
  }
}
